@{
    ViewBag.Title = "Confirm Email";
}

<div class="row">
    <div class="col-md-12">
        <section id="account-form">
            <div class="row text-center">
                <div class="col-sm-12">
                    <h3 class="font-weight-light text-secondary m-2">@ViewBag.Title</h3>
                    <p>
                        <i class="fas fa-check-circle icon-lg text-success"></i>
                    </p>
                </div>
            </div>

            <p class="font-weight-light text-center text-primary">
                Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-outline-primary", id = "loginLink" })
            </p>
        </section>
    </div>
</div>