@{
    ViewBag.Title = "Contact";
    ViewBag.Subtitle = "Get in touch with us.";
}

<section id="contact" class="section-bg wow fadeInUp">
    <div class="text-center contact">
        <div class="col-sm-12 overlay">
            <h3 class="font-weight-light text-light m-2">@ViewBag.Title</h3>
            <h5 class="text-primary">@ViewBag.Subtitle</h5>
        </div>
    </div>

    <div class="container">
        <div class="row contact-info">
            <div class="border-left col-md-4">
                <div class="p-4 shadow text-center">
                    <i class="fas fa-map-pin icon-lg text-success"></i>
                    <h5 class="font-weight-light">Address</h5>
                    <address>Ibadan, Oyo state, Nigeria.</address>
                </div>
            </div>

            <div class="border-left col-md-4">
                <div class="p-4 shadow text-center">
                    <i class="fas fa-phone icon-lg text-danger"></i>
                    <h5 class="font-weight-light">Phone Number</h5>
                    <p><a href="tel:+234">+234</a></p>
                </div>
            </div>

            <div class="border-left col-md-4">
                <div class="p-4 shadow text-center">
                    <i class="fas fa-envelope icon-lg text-info"></i>
                    <h5 class="font-weight-light">Email</h5>
                    <p><a href="mailto:hello@drack.com">hello@drack.com</a></p>
                </div>
            </div>
        </div>

        <div class="row contact-info">
            <div class="border-left col-md-4">
                <div class="p-4 shadow text-center">
                    <a href="#" target="_blank">
                        <i class="fab fa-twitter icon-lg text-info"></i>
                        <h5 class="font-weight-light">Twitter</h5>
                    </a>
                </div>
            </div>

            <div class="border-left col-md-4">
                <div class="p-4 shadow text-center">
                    <a href="#" target="_blank">
                        <i class="fab fa-facebook icon-lg text-info"></i>
                        <h5 class="font-weight-light">Facebook</h5>
                    </a>
                </div>
            </div>

            <div class="border-left col-md-4">
                <div class="p-4 shadow text-center">
                    <a href="#" target="_blank">
                        <i class="fab fa-instagram icon-lg text-dark"></i>
                        <h5 class="font-weight-light">Instagram</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
