@using Drack.Extensions

@{
    ViewBag.Title = "Policy";
    ViewBag.Subtitle = "Terms and Conditions";
}

<div class="text-center policy">
    <div class="col-sm-12 overlay">
        <h3 class="font-weight-light text-secondary m-2">@ViewBag.Title</h3>
        <p class="text-danger">@ViewBag.Subtitle</p>
    </div>
</div>
<div class="container-fluid">
    <div class="row my-4">
        <div class="col-12">
            <h5 class="font-weight-light text-secondary">Terms and Conditions</h5>
            <h6 class="font-weight-light">Introduction</h6>
            <p>
                Welcome to the drack.com website (the "Site"). These terms & conditions ("Terms and Conditions") apply to the Site, and all of its divisions, subsidiaries, and affiliate operated Internet sites which reference these Terms and Conditions.
                <br/><br/>
                The Site reserves the right, to change, modify, add, or remove portions of both the Terms and Conditions of Use and the Terms and Conditions of Sale at any time. Changes will be effective when posted on the Site with no other notice provided. Please check these Terms and Conditions regularly for updates. Your continued use of the Site following the posting of changes to these Terms and Conditions constitutes your acceptance of those changes.
                <br/><br/>
                Kindly review the Terms and Conditions listed below diligently prior to using this website as your use of the website indicates your agreement to be wholly bound by its Terms and Conditions without modification.
                <br/><br/>
                You agree that if you are unsure of the meaning of any part of these Terms and Conditions or have any questions regarding the Terms and Conditions, you will not hesitate to contact us for clarification. These Terms and Conditions fully govern the use of this website.  No extrinsic evidence, whether oral or written, will be incorporated.
            </p>

            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fames ac turpis egestas sed tempus. Magna fringilla urna porttitor rhoncus dolor purus. Urna molestie at elementum eu facilisis. Viverra mauris in aliquam sem fringilla ut. Placerat duis ultricies lacus sed turpis tincidunt id aliquet risus. Nisl purus in mollis nunc. Luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor purus. Velit sed ullamcorper morbi tincidunt. Nulla malesuada pellentesque elit eget gravida cum sociis natoque. Euismod in pellentesque massa placerat duis ultricies lacus. Pharetra diam sit amet nisl suscipit adipiscing.

                Non enim praesent elementum facilisis leo vel fringilla est ullamcorper. Fusce id velit ut tortor pretium viverra suspendisse potenti. Purus ut faucibus pulvinar elementum integer enim neque volutpat ac. Ornare arcu odio ut sem nulla. Vitae nunc sed velit dignissim sodales. Aliquet bibendum enim facilisis gravida neque. Sagittis orci a scelerisque purus semper eget duis at tellus. Aliquam nulla facilisi cras fermentum odio eu feugiat. Lectus magna fringilla urna porttitor. Risus sed vulputate odio ut enim. Quam pellentesque nec nam aliquam sem et tortor consequat id.

                Feugiat pretium nibh ipsum consequat nisl. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci. Mi ipsum faucibus vitae aliquet nec. Dictum at tempor commodo ullamcorper a lacus vestibulum sed arcu. Blandit massa enim nec dui nunc mattis. Nisl nisi scelerisque eu ultrices vitae auctor eu. Pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus. Eleifend donec pretium vulputate sapien. Nec dui nunc mattis enim ut tellus. Lacus viverra vitae congue eu consequat ac felis donec et. Lorem donec massa sapien faucibus et molestie ac feugiat. Accumsan lacus vel facilisis volutpat est velit egestas dui id. Pretium quam vulputate dignissim suspendisse. Consectetur adipiscing elit ut aliquam purus sit amet.

                Felis donec et odio pellentesque diam volutpat commodo sed egestas. Scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. Ullamcorper velit sed ullamcorper morbi tincidunt ornare. Fames ac turpis egestas sed tempus urna et pharetra. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Consectetur adipiscing elit ut aliquam purus sit amet. Viverra orci sagittis eu volutpat. Quis eleifend quam adipiscing vitae proin. Nisi porta lorem mollis aliquam ut porttitor leo a. Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. Ut consequat semper viverra nam libero justo laoreet sit. Pellentesque pulvinar pellentesque habitant morbi tristique.

                Convallis tellus id interdum velit laoreet. Pellentesque massa placerat duis ultricies lacus sed turpis. Sapien et ligula ullamcorper malesuada proin libero. Integer vitae justo eget magna fermentum iaculis eu non. Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi tristique. Molestie nunc non blandit massa enim. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. Elit ut aliquam purus sit amet luctus venenatis. Ultricies leo integer malesuada nunc vel. Risus ultricies tristique nulla aliquet enim.

                Sed id semper risus in hendrerit gravida rutrum quisque non. Amet nulla facilisi morbi tempus iaculis urna id volutpat lacus. Non nisi est sit amet facilisis magna etiam tempor. Ornare suspendisse sed nisi lacus sed viverra tellus. Integer vitae justo eget magna. Vitae tortor condimentum lacinia quis vel eros donec. Pharetra diam sit amet nisl suscipit adipiscing bibendum. Massa massa ultricies mi quis hendrerit dolor magna. Facilisis leo vel fringilla est ullamcorper eget nulla facilisi etiam. Placerat in egestas erat imperdiet sed euismod nisi porta lorem. Bibendum neque egestas congue quisque egestas. Maecenas ultricies mi eget mauris.

                Enim tortor at auctor urna nunc id cursus metus. Felis eget velit aliquet sagittis id. Cum sociis natoque penatibus et magnis dis parturient montes. Aenean et tortor at risus. Risus nullam eget felis eget nunc. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Nec nam aliquam sem et tortor consequat id porta. Vel risus commodo viverra maecenas. Sed nisi lacus sed viverra tellus. Nullam ac tortor vitae purus faucibus ornare suspendisse.

                Dictumst quisque sagittis purus sit amet volutpat. Morbi tristique senectus et netus et. Mattis aliquam faucibus purus in massa tempor nec. Magna sit amet purus gravida. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. Tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Fringilla urna porttitor rhoncus dolor purus non enim. Cras fermentum odio eu feugiat pretium. Cursus metus aliquam eleifend mi in nulla posuere. Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet enim. Placerat duis ultricies lacus sed. Donec ac odio tempor orci dapibus ultrices. Aliquet risus feugiat in ante metus dictum at. Nisl condimentum id venenatis a condimentum vitae sapien pellentesque. Nunc sed velit dignissim sodales ut eu sem integer. Fermentum iaculis eu non diam phasellus vestibulum lorem sed risus. Feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Tristique senectus et netus et malesuada fames ac turpis. Donec ultrices tincidunt arcu non sodales.

                Purus ut faucibus pulvinar elementum integer enim. Semper auctor neque vitae tempus quam. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Neque volutpat ac tincidunt vitae semper quis lectus nulla. Velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Habitasse platea dictumst quisque sagittis purus sit amet. Hac habitasse platea dictumst quisque sagittis purus sit. Leo urna molestie at elementum eu facilisis. Gravida cum sociis natoque penatibus et. Interdum posuere lorem ipsum dolor sit amet consectetur adipiscing. Amet porttitor eget dolor morbi. Morbi tristique senectus et netus et. Sit amet est placerat in egestas erat imperdiet sed euismod. Ornare quam viverra orci sagittis eu volutpat odio facilisis mauris. Cursus in hac habitasse platea dictumst quisque sagittis purus sit. Etiam sit amet nisl purus in mollis nunc sed id. Interdum consectetur libero id faucibus nisl tincidunt.

                Accumsan tortor posuere ac ut consequat. Magna etiam tempor orci eu lobortis elementum. Eget felis eget nunc lobortis mattis aliquam faucibus purus in. Ultrices neque ornare aenean euismod elementum nisi. Euismod quis viverra nibh cras pulvinar mattis. Sed risus pretium quam vulputate dignissim suspendisse in est ante. Nisl vel pretium lectus quam id leo in vitae turpis. Tellus integer feugiat scelerisque varius morbi enim nunc faucibus a. Blandit aliquam etiam erat velit scelerisque in dictum non. Nisl suscipit adipiscing bibendum est ultricies integer quis auctor.
            </div>
        </div>
    </div>
</div>